.App {
  position: relative;
  background-color: #F6F7F9;
}

.background-image {
  position: absolute;
  top: -40%;
  left: 19%;
  right: -30%;
  bottom: 0;
  background: url(http://localhost:3000/static/media/bgground.62ae4a7d76186e5a14d8.svg) no-repeat center;
  background-size: 53%;
  z-index: 0;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1; 
}

.feed-container {
  flex: 1;
  margin-left: 2rem;
}

@media (max-width: 768px) {
  .background-image {
    background-size: contain; 
    top: -40%;
  }
  

  .content {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .feed-container {
    margin-left: 0;
  }
}


@media (max-width: 1010px) {
  .background-image {
    background-size: contain;
  }
}