.App {
  position: relative;
  background-color: #F6F7F9;
  overflow-x: hidden;
}

.background-image {
  position: fixed;
  top: 0%;
  left: 53%;
  width: 100%;
  height: 66%;
  z-index: 0;
  background: url('../assets/bgground.svg') no-repeat;
  background-size: contain;
  z-index: 0;
}

.background-image-bottom-left {
  position: fixed;
  bottom: -10%;
  left: 0;
  width: 40%;
  height: 40%;
  background: url('../assets/Group.svg') no-repeat;
  background-size: contain;
  z-index: 0;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1; 
}

.feed-container {
  flex: 1;
  margin-left: 2rem;
}

@media (max-width: 768px) {
  .background-image,
  .background-image-bottom-left {
    background-size: contain; 
    width: 100%;
    height: auto;
  }

  .content {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .feed-container {
    margin-left: 0;
  }
}

@media (max-width: 1010px) {
  .background-image,
  .background-image-bottom-left {
    background-size: contain;
  }
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #ffff;
  color: #555;
  position: relative;
  bottom: 0;
  width: 100%;
}
