.App {
  position: relative;
  background-color: #F6F7F9;
  overflow-x: hidden;
}

.background-image {
  position: fixed;
  top: -5%;
  left: 19%;
  right: -35%;
  bottom: 0;
  background: url(http://localhost:3000/static/media/bgground.62ae4a7d76186e5a14d8.svg) no-repeat center;
  background-size: 40%;
  z-index: 1;
}

.background-image-bottom-left {
  position: fixed;
  bottom: 0;
  left: 0;
  background: url(http://localhost:3000/static/media/Group.svg) no-repeat;
  background-size: 20%;
  width: 20%;
  height: 20%;
  z-index: 1;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 2; 
}

.feed-container {
  flex: 1;
  margin-left: 2rem;
}

@media (max-width: 768px) {
  .background-image {
    background-size: contain; 
    top: -40%;
  }

  .background-image-bottom-left {
    background-size: contain;
    width: 40%;
    height: 40%;
  }

  .content {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .feed-container {
    margin-left: 0;
  }
}

@media (max-width: 1010px) {
  .background-image {
    background-size: contain;
  }
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #ffff;
  color: #555;
  position: relative;
  bottom: 0;
  width: 100%;
}
