.create-post {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.create-post textarea {
  width: 96%;
  padding: 1rem 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  resize: none;
  margin-bottom: 0.5rem;
}

.create-post .post-button {
  align-self: flex-end;
  padding: 0.5rem 1rem;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
