.create-post {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

.create-post form {
  display: flex;
  flex-direction: column;
  
}

.create-post textarea {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  padding: 0.5rem;
  font-size: 1rem;
  resize: none;
  width: 100%;
  box-sizing: border-box;
  height: 50px;

}

.create-post button {
  align-self: flex-end;
  background-color: #ff6600;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 1rem
}

.create-post button:hover {
  background-color: #e65c00;
}
